[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG.git
[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/Exit-9B/CommonLibSSE.git
[submodule "lib/skse-cmakemodules"]
	path = lib/skse-cmakemodules
	url = https://github.com/Exit-9B/SKSE-CMakeModules.git
[submodule "lib/clib-helper"]
	path = lib/clib-helper
	url = https://github.com/SeaSparrowOG/clib-helper
[submodule "lib/commonlibsse-po3"]
	path = lib/commonlibsse-po3
	url = https://github.com/powerof3/CommonLibSSE.git
